body {
  text-align: center;
  background-color: #89CFF0;
}

.mainpic {
  border-style: solid;
  border-color: white;
}

.content {
  background-color: white;
  text-align: center;
  opacity: 0.85;
  border-style: solid;
  margin: 60px 80px 60px 80px;
  padding: 80px;
  font-size: 25px;

}

.content:hover {
  opacity: 1.0;
}

#bullets {
  text-align: left;
}

header {
  background-image: url('/images/austinpic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px;
  /* opacity: 0.6; */
}

#headerback {
  opacity: 0.4;
}

.name {
  font-size: 20px;
  color: white;
  background: black;
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
}

.fumbler {
  text-align: center;
}

#stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}
